1. What are data structures, and why are they important?
 - Data structures are specialized formats for organizing and storing data in a program. They’re important because they make data access, manipulation, and storage efficient and logical—helping solve problems faster and use memory effectively

2. Explain the difference between mutable and immutable data types with examples ?
  - Mutable vs. Immutable
- Mutable data types can be changed after creation.
Examples: list, dict, set.
- Immutable data types cannot be changed after creation.
Examples: int, str, tuple.
They matter because they affect how data behaves during assignment, function calls, and memory usage.

3.  What are the main differences between lists and tuples in Python?

 - Main differences between lists and tuples in Python :

 - Mutability: Lists are mutable; tuples are immutable.

 - Syntax: Lists use []; tuples use ().

 - Methods: Lists have more built-in methods.

 - Performance: Tuples are faster and use less memory.

  - Usage: Use lists for changeable data, tuples for fixed data.

4.  Describe how dictionaries store data?
 - Dictionaries in Python store data as key-value pairs using a hash table. Each key is hashed to find its index, allowing for fast lookups, inserts, and deletions. Keys must be unique and immutable.

5.  Why might you use a set instead of a list in Python
 - You might use a set instead of a list in Python 3 to automatically remove duplicates and for faster membership checks (using in), as sets are unordered and use hash tables.


 6.  What is a string in Python, and how is it different from a list

  - A string in Python is an immutable sequence of characters.

 Difference from a list:

 - Strings can only store characters and cannot be changed.

 - Lists can store any data type and are mutable (can be modified)

7. How do tuples ensure data integrity in Python
 - Tuples ensure data integrity in Python by being immutable—once created, their contents cannot be changed, added to, or removed. This protects the data from accidental modification.

 8. What is a hash table, and how does it relate to dictionaries in Python
 - A hash table is a data structure that stores key-value pairs using a hash function to compute an index for each key.

In Python, dictionaries use hash tables to allow for fast lookups, insertions, and deletions based on keys.

9. Can lists contain different data types in Python?
 - Yes, lists in Python can contain different data types (e.g., integers, strings, objects) within the same list.

10. Explain why strings are immutable in Python?

 - Strings are immutable in Python to ensure:

 - Data integrity – once created, the content can't be changed, which prevents bugs from accidental modification.

 - Efficiency – immutability allows Python to optimize memory usage and safely share strings across the program.

 - Hashability – immutable strings can be used as keys in dictionaries and elements in sets.

 - This design choice improves performance and reliability in Python programs.


11. What advantages do dictionaries offer over lists for certain tasks?

 -Dictionaries offer several advantages over lists for certain tasks:

 - Fast lookups – Accessing values by key is quicker than searching a list.

 - Key-based access – Data is organized by unique keys, making it easier to find and manage.

 - Clearer structure – Key-value pairs improve readability when data has meaningful labels.

 - No need for index tracking – You don’t need to remember positions as with lists.

 - Ideal when working with structured data or needing efficient searches.

12. Describe a scenario where using a tuple would be preferable over a list?
 - Use a tuple when you need to store fixed, unchangeable data, like coordinates (x, y), or as keys in dictionaries where immutability is required.

 13. How do sets handle duplicate values in Python?
  - Sets in Python automatically remove duplicate values by storing only unique elements. When you add duplicates, they are ignored, ensuring all items in a set are distinct.

14. How does the “in” keyword work differently for lists and dictionaries?
 - The in keyword checks for membership but works differently for lists and dictionaries:

 - Lists: in checks if a value exists anywhere in the list (searches elements).

 - Dictionaries: in checks if a key exists in the dictionary (does not check values).


15. Can you modify the elements of a tuple? Explain why or why not?
 - No, you cannot modify the elements of a tuple because tuples are immutable. Once created, their contents cannot be changed, added, or removed to ensure data integrity and allow tuples to be hashable.

16. What is a nested dictionary, and give an example of its use case
  - A nested dictionary is a dictionary where values are themselves dictionaries. It allows storing complex, hierarchical data.

Example use case: Storing user information with multiple attributes.

Edit
users = {
    "alice": {"age": 30, "city": "New York"},
    "bob": {"age": 25, "city": "London"}
}
Here, each user has a dictionary of details inside the main dictionary.

17. Describe the time complexity of accessing elements in a dictionary

 - Accessing elements in a dictionary typically has average time complexity of O(1) (constant time) due to its underlying hash table implementation. This means lookups are very fast regardless of dictionary size.

 18. In what situations are lists preferred over dictionaries

  - Lists are preferred over dictionaries when:

  You need ordered collections of items.

 - You want to store duplicate values.

 - You primarily access elements by position/index, not by key.

  -The data is simple and doesn't require key-based lookup.

  19. Why are dictionaries considered unordered, and how does that affect data retrieval?

   - Dictionaries are considered unordered because they store items by key hashes, not position. This means you access data by keys, not by order.

  20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists retrieve data by index position (e.g., list[0]), while dictionaries retrieve data by unique keys (e.g., dict['key']). Lists are ordered; dictionaries use keys for direct access.

#                                                            **Practical**

In [1]:
#1.  Write a code to create a string with your name and print it
name  = "shubham"
print(name)

shubham

In [2]:
#2. Write a code to find the length of the string "Hello World"
Text = "Hello World"
length = len(Text)
print(length)

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [8]:
#6. Write a code to create a list with numbers 1 to 5 and print it
number = [1, 2, 3, 4, 5]
print(number)

[1, 2, 3, 4, 5]

In [11]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
number = [1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
number = [1, 2, 3, 4, 5]
number.remove(3)
print(number)

[1, 2, 4, 5]

In [14]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [15]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [16]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [17]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [18]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [20]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

True

In [21]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [22]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [23]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [24]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [25]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [26]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "priya",
    "age": 30,
    "city": "Bhopal"
}
print(person)

{'name': 'priya', 'age': 30, 'city': 'Bhopal'}

In [27]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [29]:
#24. 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [30]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
has_city = 'city' in person
print(has_city)

True

In [31]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

In [32]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[22, 27, 65, 66, 80]

In [33]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(my_list[3])

date

In [34]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
#30. Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'apple', 'cherry']
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}